version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - SERVER_HELLO=Hello Welyo from Docker Compose!
    restart: unless-stopped
